 {% extends 'layout.html' %}
{%block active%}
<script>
$("#departments").attr('class','active');
</script>
{%end%}

{% block content %}

 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
 <div class="row">
 <h4 class="sub-header"><strong>职能委办配置</strong></h4>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>                  
                  <th>名称</th>
                  <th>联系人</th>
                  <th>联系方式</th>
                  <th>接受告警类型</th>
                  <th>ID</th>
                  <th>设置</th>
                </tr>
              </thead>
              <tbody>
               {% for d in data%}
                <tr>                  
                  <td>{{d['department'].name}}</td>
                  <td>{{d['department'].person}}</td>
                  <td>                     
                      <span><img src="/static/image/mobile.svg" style="height:16px;">: {{d['department'].mobile}}  | </span> 
                      <span><img src="/static/image/telephone.svg" style="height:16px;">: {{d['department'].phone}}  | </span> 
                      <span><img src="/static/image/mail.svg" style="height:16px;">: {{d['department'].email}}   </span>
                  </td>
                  <td>
                      {%for m in d['managments']%}
                          <a class="btn btn-default btn-xs" role="button">{{e_dic[m.event_type]}}</a>
                      {%end%}
                  </td>
                  <td>{{d['department'].id}}</td>
                  <td>
                      <input class="btn btn-info btn-xs"  type="button"  data-toggle="modal" data-target="#setupModal"  data-id="{{d['department'].id}}"  value="设置">                  
                      <input class="btn btn-danger btn-xs" type="button" value="删除" data-toggle="modal" data-target="#rmModal" data-id="{{d['department'].id}}">
                  </td>
                </tr>
              {%end%}
              </tbody>
            </table>
             <input class="btn btn-primary" type="button" data-toggle="modal" data-target="#addModal" value="增加">                   
              <!-- addModal -->
              <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="addModalLabel">增加</h4>
                    </div>
                    <div class="modal-body">
                      <form id="addForm">
                                <div class="form-group">
                                  <label for="name">名称:</label>
                                  <input type="text" class="form-control" id="name_added" name="name" placeholder="名称" required>
                                </div>
                                <div class="form-group">
                                  <label for="longitude">联系人:</label>
                                  <input type="text" class="form-control" id="person_added" name="person" placeholder="联系人" required>
                                </div>
                                <div class="form-group">
                                  <label for="latitude">手机号码:</label> 
                                  <input type="text" class="form-control" id="mobile_added" name="mobile" placeholder="手机号码" required>
                                </div>
                                <div class="form-group">
                                  <label for="latitude">座机号码:</label>
                                  <input type="text" class="form-control" id="phone_added" name="phone" placeholder="座机号码" required>
                                </div>
                                <div class="form-group">
                                  <label for="latitude">邮箱地址:</label>
                                  <input type="text" class="form-control" id="email_added" name="email" placeholder="邮箱地址" required>
                                </div>
                                <div class="form-group">
                                  <label for="latitude">接受告警类型:</label>
                                  {%for e in e_dic%}
                                  <input class="btn btn-default select_event" type="button" value="{{e_dic[e]}}" id="event_add_{{e}}">
                                  {%end%}                                  
                                </div>                                 
                      </form>
                      <label class="btn btn-danger btn-xs hide" id="add_message" name="message">Error message</label>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                      <button type="button" id="saveAdd" class="btn btn-primary">保存</button>
                    </div>
                  </div>
                </div>
              </div><!-- addModal -->

              <!-- setupModal -->
                      <div class="modal fade" id="setupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="setupModalLabel">设置</h4>
                            </div>
                            <div class="modal-body">
                              <form id="setupForm">
                                <div class="form-group">
                                  <label for="name">名称:</label>
                                  <input type="text" class="form-control" id="name_setup" name="name" placeholder="名称" required>
                                </div>
                                <div class="form-group">
                                  <label for="person">联系人:</label>
                                  <input type="text" class="form-control" id="person_setup" name="person" placeholder="联系人" required>
                                </div>
                                <div class="form-group">
                                  <label for="phone">手机号码:</label> 
                                  <input type="text" class="form-control" id="mobile_setup" name="mobile" placeholder="手机号码" required>
                                </div>
                                <div class="form-group">
                                  <label for="mobile">座机号码:</label>
                                  <input type="text" class="form-control" id="phone_setup" name="phone" placeholder="座机号码" required>
                                </div>
                                <div class="form-group">
                                  <label for="email">邮箱地址:</label>
                                  <input type="text" class="form-control" id="email_setup" name="email" placeholder="邮箱地址" required>
                                </div>
                                <div class="form-group">
                                  <label for="event">接受告警类型:</label><br>
                                  
                                  {%for e in e_dic%}
                                  <input class="btn btn-default select_event" type="button" value="{{e_dic[e]}}" id="event_setup_{{e}}">
                                  {%end%}
                                    
                                </div>  
                                <input class="hide" type="hidden" id="id_setup" name="id">                                  
                              </form>
                              <label class="btn btn-danger btn-xs hide" id="setup_message" name="message">Error message</label>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                              <button type="button" id="saveSetup" class="btn btn-primary">保存</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- setupModal -->
             <!-- rmModal -->
                      <div class="modal fade" id="rmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="setupModalLabel">删除</h4>
                            </div>
                            <div class="modal-body">
                              <form id="rmForm">                                
                                <div class="form-group">
                                  <label for="rm">确定删除当前职能委办？</label>
                                  <input type="hidden" id="id_rm" name="id">   
                                </div>                                                              
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                              <button type="button" id="rm" class="btn btn-primary">确定</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- rmModal -->
          </div>
      </div>
      </div>
{% end%}

{%block script%}
<script type="text/javascript">
    $(".select_event").click(function(event){
       var button = $(event.target)
       if(button.hasClass('btn-default')){
           button.removeClass('btn-default') 
           button.addClass('btn-success') 
       }
       else if(button.hasClass('btn-success')){
           button.removeClass('btn-success') 
           button.addClass('btn-default') 
       }
    });

    $('#setupModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var id = button.data('id')
        $.ajax({
            url: '/departments/setup',
            type: 'GET',
            data: {
               id:id
            },
            success:function(rt){
                if(rt.status=='success'){                    
                    $('#setupModal').find('#id_setup').val(id)
                    $('#setupModal').find('#name_setup').val(rt.name)
                    $('#setupModal').find('#person_setup').val(rt.person)
                    $('#setupModal').find('#phone_setup').val(rt.phone)
                    $('#setupModal').find('#mobile_setup').val(rt.mobile)
                    $('#setupModal').find('#email_setup').val(rt.email)                    
                    for(var i=0;i<rt.event_types.length;i++){
                        console.log(rt.event_types[i])
                        id='event_setup_'+rt.event_types[i]
                        $('#'+id).removeClass('btn-default')
                        $('#'+id).addClass('btn-success') 
                    }
                }
            },
            error:function(){
            }
        }) 
     });

     $('#setupModal').on('hidden.bs.modal', function (event) {
        $(".select_event").removeClass('btn-success')
        $(".select_event").addClass('btn-default') 
        $('#setup_message').addClass("hide")
     });


    $('#rmModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        console.log(button)
        var id = button.data('id')
        var modal = $(this)
        console.log(modal)
        modal.find('#id_rm').val(id)
     });

    $('#saveSetup').click(function(){
        $('#setup_message').addClass("hide")
        var id = $('#id_setup').val()
        var name = $('#name_setup').val()
        var person = $('#person_setup').val()
        var phone = $('#phone_setup').val()
        var mobile = $('#mobile_setup').val()
        var email = $('#email_setup').val()
        
        if(!isId(id)){
            $('#setup_message').removeClass("hide")
            $('#setup_message').html('ID值非法')
            return
        }

        if(!isName(name)){
            $('#setup_message').removeClass("hide")
            $('#setup_message').html('委办名称为空或输入有误，请确认。')
            return
        }

        if(!isPerson(person)){
            $('#setup_message').removeClass("hide")
            $('#setup_message').html('联系人姓名为空或输入有误，请确认。')
            return
        }

        if(!isMobile(mobile)){
            $('#setup_message').removeClass("hide")
            $('#setup_message').html('手机号码为空或输入有误，请确认。')
            return
        }

        if(!isPhone(phone)){
            $('#setup_message').removeClass("hide")
            $('#setup_message').html('座机号码为空或输入有误，请确认。')
            return
        }

        if(!isEmail(email)){
            $('#setup_message').removeClass("hide")
            $('#setup_message').html('Email地址为空或输入有误，请确认。')
            return
        }
        var ev_list = $('.btn-success.select_event')
        var type = []
        for(var i=0;i<ev_list.size();i++){
          type.push(ev_list[i].id.split('_')[2])
        }
        $('#saveSetup').html('保存中...')
        $.ajax({
            url: '/departments/setup',
            type: 'POST',
            data: {
               id:id,
               name:name,
               person:person,
               phone:phone,
               mobile:mobile,
               email:email,
               type:type.toString()
            },
            success:function(rt){
                  if(rt="success")location.reload();
            },
            error:function(){
            }
        }) 
    });

    $('#rm').click(function(){
        var id = $('#id_rm').val()
        $('#rm').html('删除中...')
        $.ajax({
            url: '/departments/remove',
            type: 'POST',
            data: {
               id:id
            },
            success:function(rt){
                  if(rt="success")location.reload();
            },
            error:function(){
            }
        })
    });

    $('#addModal').on('hidden.bs.modal', function (event) {
        $(".select_event").removeClass('btn-success')
        $(".select_event").addClass('btn-default') 
        $('#add_message').addClass("hide")
     });


    $('#saveAdd').click(function(){
        var name = $('#name_added').val()
        var person = $('#person_added').val()
        var phone = $('#phone_added').val()
        var mobile = $('#mobile_added').val()
        var email = $('#email_added').val()
        if(!isName(name)){
            $('#add_message').removeClass("hide")
            $('#add_message').html('委办名称为空或输入有误，请确认。')
            return
        }

        if(!isPerson(person)){
            $('#add_message').removeClass("hide")
            $('#add_message').html('联系人姓名为空或输入有误，请确认。')
            return
        }

        if(!isMobile(mobile)){
            $('#add_message').removeClass("hide")
            $('#add_message').html('手机号码为空或输入有误，请确认。')
            return
        }

        if(!isPhone(phone)){
            $('#add_message').removeClass("hide")
            $('#add_message').html('座机号码为空或输入有误，请确认。')
            return
        }

        if(!isEmail(email)){
            $('#add_message').removeClass("hide")
            $('#add_message').html('Email地址为空或输入有误，请确认。')
            return
        }

        var ev_list = $('.btn-success.select_event')
        var type = []
        for(var i=0;i<ev_list.size();i++){
          type.push(ev_list[i].id.split('_')[2])
        }         
        console.log(type) 
        $('#saveAdd').html('保存中...')
        $.ajax({
            url: '/departments/add',
            type: 'POST',
            data: {
               name:name,
               person:person,
               phone:phone,
               mobile:mobile,
               email:email,
               type:type.toString()
            },
            success:function(rt){
                  if(rt="success")location.reload();
            },
            error:function(){
            }
        })
    });


</script>
{%end%}