{% extends 'layout.html' %}
{%block active%}
  <script>
  $("#events").attr('class','active'); 
  </script>


{%end%}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
      <h4 class="sub-header"><strong>异常事件告警</strong></h4> <span id="message" class="hide"></span>
    </div>
    <div class="row" id="event_list">
          {%for e in events%}          
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong class="col-md-1">警告!</strong>
            <span class="col-md-2">事件: <strong>[{{e['event_name']}}]</strong></span>
            <span class="col-md-3">监控位置: <strong>[{{e['location']}}]</strong></span>
            <span class="col-md-5">时间: <strong>[{{e['dt']}}]</strong></span>
            <input class="btn btn-danger btn-xs" type="button" value="处理" data-toggle="modal" data-target="#handleModal" data-id={{e['id']}}>
          </div>
          {%end%}
    </div>
    <!-- handleModal -->
                      <div class="modal fade" id="handleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="setupModalLabel">异常事件处理</h4>
                            </div>
                            <div class="modal-body">
                              <form id="handleForm">                                
                                <div class="form-group">
                                  <span class="hide" id="id"></span>
                                  <label>地点:<span id="location"></span></label>                                     
                                </div>
                                <div class="form-group">
                                  <label>事件:<span id="event"></span></label>                                   
                                </div>
                                <div class="form-group">
                                  <label>时间:<span id="dt"></span></label>                                   
                                </div>
                                <div class="form-group">
                                  <label>视频 / 截图:</label> 
                                  <p><img height="300" src="/static/image/crack.jpg" id="snapshot"></p>                                    
                                </div>                                                                                             
                              </form>
                              <hr>
                              关联委办(参考):
                                <ul id="d_list"></ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" id="handled" class="btn btn-primary">已处理</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- handleModal -->


{% end %}

{%block script%}
<script type="text/javascript">

var flag = "warning";
   
function show_waring(){
    flag=(flag=='warning'?'danger':'warning')
    $(".alert").attr("class", "alert alert-"+flag+" alert-dismissible")
}


$('#handleModal').on('hidden.bs.modal', function (event) {
    $('#d_list').html('')
});

$('#handleModal').on('show.bs.modal', function (ev) {
    var button = $(ev.relatedTarget) 
    //console.log(button)
    var id = button.data('id') 
    var modal = $(this)
    var li_begin = "<li>"
    var mobile_icon = '<img src="/static/image/mobile.svg" style="height:16px;">:'
    var phone_icon = '<img src="/static/image/telephone.svg" style="height:16px;">:'
    var email_icon = '<img src="/static/image/mail.svg" style="height:16px;">:'
    var li_end = "</li>"
    $.ajax({
        url: '/event',
        type: 'GET',
        data: {id:id},
        success:function(rt){
              console.log(rt)
              if(rt.status="success"){
                  modal.find("#id").html(id)
                  modal.find('#location').html(rt.location)
                  modal.find('#event').html(rt.event)
                  modal.find('#dt').html(rt.dt)
                  
                  //alert(date.getTime())
                  modal.find('#snapshot').attr("src", rt.snapshot)
  
                  for(var i=0;i<rt.departments.length;i++){
                      
                      var node = li_begin + 
                                  rt.departments[i].name + 
                                  ":" +
                                  rt.departments[i].person +
                                  " " + mobile_icon +
                                  rt.departments[i].mobile + "|" +  phone_icon +
                                  rt.departments[i].phone + "|" + email_icon +
                                  rt.departments[i].email +
                                  li_end
                      
                      modal.find('#d_list').append(node)   
                  }
             };
        },
        error:function(){
        }
   })       
}); 

$('#handled').on('click', function (ev) {
        var button = $(ev.relatedTarget) 
        console.log(button)
        var id = $('#id').html()        
        var modal = $(this)
        $.ajax({
            url: '/event/handle',
            type: 'POST',
            data: {
               id:id
            },
            success:function(rt){
                  if(rt="success"){
                    alert('该事件将从事件列表中移除.');
                    location.reload();
                  }
            },
            error:function(){
            }
       })
})

setInterval("show_waring()",1000)

var ws = new WebSocket('ws://127.0.0.1:8888/ws');
var $message = $('#message');
ws.onopen = function(){
    $message.attr("class", 'hide label label-success');
    $message.text('open');
};
ws.onmessage = function(ev){
     
    var ev_info = JSON.parse(ev.data);
    console.log(ev_info.location_name)
    console.log(ev_info.type)
    console.log(ev_info.dt)
    console.log(ev_info.factor)

    var head = '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong class="col-md-1">警告!</strong>'
    var event_name = '<span class="col-md-2">事件: <strong>[' +ev_info.event_name + ']</strong></span>'
    var location = '<span class="col-md-3">监控位置: <strong>[' + ev_info.location_name + ']</strong></span>'
    var dt = '<span class="col-md-5">时间: <strong>[' +ev_info.dt+ ']</strong></span>'
    var handle_button = '<input class="btn btn-danger btn-xs" type="button" value="处理" data-toggle="modal" data-target="#handleModal" data-id='+ev_info.event_id+'></div>' 
    $('#event_list').append(head+event_name+location+dt+handle_button)

};
ws.onclose = function(ev){
  $message.attr("class", 'hide label label-important');
  $message.text('closed');
};
ws.onerror = function(ev){
  $message.attr("class", 'hide label label-warning');
  $message.text('error occurred');
};
</script>
{%end%}