<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/image/favicon.ico">

    <title>交通视频感知平台</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    
   	
    

    <!-- Custom styles for this template -->
    <link href="/static/css/login.css" rel="stylesheet">
   
    

   
  </head>

  <body>

    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">        
        <div class="navbar-header">          
          <a class="navbar-brand" href="#">交通视频感知平台</a>
        </div>               
      </div>
    </nav>
    
    <div class="container">
      <form class="form-signin" method="post" action="/auth/login">
        {% module xsrf_form_html() %}
        <h2 class="form-signin-heading">管理员登录</h2>
        <label for="inputEmail" class="sr-only">账号</label>
        <input type="username" maxlength="16" id="inputUsername"  name="name" class="form-control" placeholder="请输入账号" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" maxlength="16" id="inputPassword"  name="password" class="form-control" placeholder="请输入密码" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住我
          </label>
        </div>
        {% if error %}
            <span style="color: red">错误: {{ error }}</span><p>
        {% end %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
		<span id="text1wrong"></span>
		<span id="password1wrong"></span>
      </form>

    </div> <!-- /container -->


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
  </body>
</html>
