 {% extends 'layout.html' %}

{%block active%}
<script>
$("#statistics").attr('class','active');
</script>
{%end%}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <h4 class="sub-header"><strong>感知事件统计</strong></h4>
        </div>
        
        <div class="row">
            <div class="col-lg-2">
                <div class="input-group">
                    
                    <input type="text" class="form-control" id="datetimepicker-start" placeholder="选择日期">
                    </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-2">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="locationList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span id="locationListTop">选择监控点位</span>
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for l in locations%}
                                <li><a href="#" onclick="selectLocation('{{l.name}}');">{{l.name}}</a></li>
                                {%end%}                                
                            </ul>
                        </div>
                        </div><!-- /.col-lg-6 -->
                    </div>
               {%for e in events%}
               <li>{{e.id}}, {{e.location_id}}, {{e.type}}</li>
               {%end%}
                <div class="row">
                <div style="padding-left:20px;padding-top:20px;">
                    <canvas  id="1myChart" width="1000" height="500"></canvas>
                </div>
                </div>
            {% end %}

            {% block script%}
                <script>
                function selectLocation(location){
                    $('#locationListTop').html(location);   
                }
                var data = {
                labels: ["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"],
                datasets: [
                {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40,65, 59, 80, 81, 56, 55, 40,10,10,9]
                },
                ]
                };
                var ctx = document.getElementById("myChart").getContext("2d");
                var myLineChart = new Chart(ctx).Bar(data);
                $('#datetimepicker-start').datepicker();
                </script>
            {% end %}