 {% extends 'layout.html' %}

{%block active%}
<script>
$("#statistics").attr('class','active');
</script>
{%end%}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <h4 class="sub-header"><strong>感知事件统计</strong></h4>
        </div>
        
        <div class="row">
        <span>总体事件统计:</span><br>
        <label><span>异常事件总数: </span><span>{{num_all}}</span></label>
        <br>
        <label><span>待处理事件数: </span><span>{{num_new}}</span></label>
        <hr>
        <!--
            <div class="col-lg-2">
                <div class="input-group">
                    
                    
                    </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="locationList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span id="locationListTop">选择监控点位</span>
                            <span class="caret"></span>
                            </button>
                            
                        </div>
                        </div>
                    </div>
             -->
                <span>分类事件统计:</span><br>
                <label><span>异常事件分类饼图:</span></label>
                <div style="padding-left:20px;padding-top:20px;">
                    <canvas  id="myChart" width="200" height="200"></canvas>
                </div>
                </div>
            {% end %}

            {% block script%}
                <script>
                
                var data = [
                   {
                        value: {{num_jam}},
                        color:"#F7464A",
                        highlight: "#FF5A5E",
                        label: "道路拥堵"
                   },
                   {
                        value:  {{num_abnormal}},
                        color: "#46BFBD",
                        highlight: "#5AD3D1",
                        label: "可疑事件"
                   },
                   {
                        value: {{num_abandom}},
                        color: "#FDB45C",
                        highlight: "#FFC870",
                        label: "违章占道"
                   },
                   {
                        value: {{num_accident}},
                        color:"#DB7093",
                        highlight: "#FFC0CB",
                        label: "交通事故"
                   },
                   {
                        value:  {{num_passerby}},
                        color: "#9932CC",
                        highlight: "#8B008B",
                        label: "行人横穿马路"
                   },
                ]

                var ctx = document.getElementById("myChart").getContext("2d");
                var myPieChart = new Chart(ctx).Pie(data);
                
                </script>
            {% end %}