{% extends 'layout.html' %}
{%block active%}
<script>
$("#visualization").attr('class','active');
</script>
{%end%}
{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
      <h4 class="sub-header"><strong>感知事件可视化</strong></h4>
      <div class="" role="alert"><span class="small"><img style="vertical-align:middle;" src="/static/image/resend.png">查看详细信息</span> <span class="small"><img style="vertical-align:middle;" src="/static/image/expired.png">异常事件发生</span></div>
    </div>
    
    <div class="row">
      <div class="well" style="margin-top:5px;height:600px;">
        <div id="i-map" style="width: 100%; height:100%"></div>
      </div>
    </div>
    
  </div>
{% end%}
{% block map %}
<script type="text/javascript">
    var map = new BMap.Map("i-map");      //设置卫星图为底图
    var point = new BMap.Point(120.645, 31.144);
    map.centerAndZoom(point,15);//设定地图的中心点和坐标并将地图显示在地图容器中
    map.addControl(new BMap.NavigationControl());      //为地图添加鱼骨
    map.enableScrollWheelZoom();//启用地图滚轮放大缩

    function _location(id, name, lng, lat, events){
        this.id = id
        this.lng = lng
        this.lat = lat
        this.events = events  
        this.name = name
    } 

    function _event(factor, dt, type, point, icon, marker){
        this.factor = factor
        this.dt = dt
        this.type = type
        this.bmap_point = point
        this.bmap_icon = icon
        this.bmap_marker = marker
    }

    function createEvent(_type, lng, lat){
        var dy = 0.0006
        var dx = 0.0006
        var icon = ''
        if(_type==3) {
            icon='/static/image/park.png'
            dy = dy*3
        }
        else if(_type==4) {
            icon='/static/image/accident.png'
            dy = dy*4
        } 
        else if(_type==5) {
            icon='/static/image/passerby.png'
            dy = dy*5
        }else {
            icon='/static/image/expired.png'
            dy = dy*2
        }
        var point = new BMap.Point(parseFloat(lng)+dy,parseFloat(lat)+dx);
        var myIcon = new BMap.Icon(icon, new BMap.Size(30,40));
        var marker = new BMap.Marker(point,{icon:myIcon});  // 创建标注 
        map.addOverlay(marker);
        marker.hide()
        return new _event(0, 0, _type, point, icon, marker)
    }


    location_list = {}
    {%for l in locations%}
       var ev_list = {}      
       ev_list['jam'] = createEvent(1, {{l.lng}}, {{l.lat}});
       ev_list['count'] = createEvent(2, {{l.lng}}, {{l.lat}});
       ev_list['abandom'] = createEvent(3, {{l.lng}}, {{l.lat}});
       ev_list['accident'] = createEvent(4, {{l.lng}}, {{l.lat}});
       ev_list['passerby'] = createEvent(5, {{l.lng}}, {{l.lat}});
       location_list['{{l.id}}']=new _location('{{l.id}}', '{{l.name}}', {{l.lng}}, {{l.lat}}, ev_list) 

    {%end%}
    console.log(location_list)
    




    if(!isSupportCanvas()){
      alert('热力图目前只支持有canvas支持的浏览器,您所使用的浏览器不能使用热力图功能~')
    }
  //详细的参数,可以查看heatmap.js的文档 https://github.com/pa7/heatmap.js/blob/master/README.md
  //参数说明如下:
  /* visible 热力图是否显示,默认为true
     * opacity 热力的透明度,1-100
     * radius 势力图的每个点的半径大小   
     * gradient  {JSON} 热力图的渐变区间 . gradient如下所示
     *  {
      .2:'rgb(0, 255, 255)',
      .5:'rgb(0, 110, 255)',
      .8:'rgb(100, 0, 255)'
    }
    其中 key 表示插值的位置, 0~1. 
        value 为颜色值. 
     */
  heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":30});
  map.addOverlay(heatmapOverlay);
  //heatmapOverlay.setDataSet({data:points,max:100});
  //是否显示热力图
  function openHeatmap(){ 
        heatmapOverlay.setDataSet({data:points,max:100});
        heatmapOverlay.show();
  }
  function closeHeatmap(){
        heatmapOverlay.hide();
  }
  closeHeatmap();
  function setGradient(){
      /*格式如下所示:
    {
        0:'rgb(102, 255, 0)',
      .5:'rgb(255, 170, 0)',
        1:'rgb(255, 0, 0)'
    }*/
      var gradient = {};
      var colors = document.querySelectorAll("input[type='color']");
      colors = [].slice.call(colors,0);
      colors.forEach(function(ele){
      gradient[ele.getAttribute("data-key")] = ele.value; 
      });
        heatmapOverlay.setOptions({"gradient":gradient});
    }
  //判断浏览区是否支持canvas
    function isSupportCanvas(){
        var elem = document.createElement('canvas');
        return !!(elem.getContext && elem.getContext('2d'));
    }

    function warning(marker){
        setInteval  
    }

    function display(name, lng, lat, type){
        var icon = ""        
        console.log(parseFloat(lng)+0.0006)
        var point = new BMap.Point(parseFloat(lng)+0.0006,parseFloat(lat)+0.0006);

        if(type==3) {
            icon='/static/image/park.png'
        }
        console.log(icon)
        var myIcon = new BMap.Icon(icon, new BMap.Size(30,40));
        var marker = new BMap.Marker(point,{icon:myIcon});  // 创建标注
        map.addOverlay(marker);
        map.removeOverlay(marker);

    }

</script>


<script>
    var ws = new WebSocket('ws://127.0.0.1:8888/ws');
    var $message = $('#message');
    
    ws.onopen = function(){
      $message.attr("class", 'label label-success');
      $message.text('open');
    };
    ws.onmessage = function(ev){
       var json = JSON.parse(ev.data);
       console.log(json.type)
       console.log(location_list[json.id])
       if(json.type==1){
           //jam
           /*
           closeHeatmap()
           if($.inArray(json.id, location_jam)<0){
               location_jam.push(json.id)
               points.push({"lng":json.lng, "lat":json.lat, "count":json.factor})
               console.log(json.dt)
           }
          openHeatmap()
          */
          

       }
       if(json.type==2){        
           //count
                    
       }
       if(json.type==3){        
           //abandom 

           if(json.factor>0) {
               location_list[json.id].events['abandom'].bmap_marker.show()
           }  else {
               location_list[json.id].events['abandom'].bmap_marker.hide() 
           }

                        
       }
       if(json.type==4){        
           //passerby 
           if(json.factor>0) {
               location_list[json.id].events['passerby'].bmap_marker.show()
           }  else {
               location_list[json.id].events['passerby'].bmap_marker.hide() 
           }  
                   
       }
       if(json.type==5){        
           //accident   
           if(json.factor>0) {
               location_list[json.id].events['accident'].bmap_marker.show()
           }  else {
               location_list[json.id].events['accident'].bmap_marker.hide() 
           } 
                   
       }


  

     

 
      
    };
    ws.onclose = function(ev){
      $message.attr("class", 'label label-important');
      $message.text('closed');
    };
    ws.onerror = function(ev){
      $message.attr("class", 'label label-warning');
      $message.text('error occurred');
    };
  </script>

{% end %}