{% extends 'layout.html' %}
{% block map%}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=F4VeNCCZnyk1zEkrXk3t2z27"></script>
{% end %}
{%block active%}
<script>
$("#visualization").attr('class','active');
</script>
{%end%}
{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
      <h4 class="sub-header"><strong>感知事件告警</strong></h4>
      <div class="" role="alert">
          <span class="small"><img style="vertical-align:middle;height:25px;" src="/static/image/jam.png">:道路拥堵 </span>
          <span class="small"><img style="vertical-align:middle;height:25px;" src="/static/image/park.png">:违章停车 </span>
          <span class="small"><img style="vertical-align:middle;height:25px;" src="/static/image/accident.png">:主干道异常 </span>
          <span class="small"><img style="vertical-align:middle;height:25px;" src="/static/image/passerby.png">:行人横穿道路 </span>
          <span class="small"><img style="vertical-align:middle;height:25px;" src="/static/image/abandom.png">:违章侵占道路</span>
          <span class="small"><img style="vertical-align:middle;height:25px;" src="/static/image/abnormal.png">:车辆逆行</span>
          <span class="small"><img style="vertical-align:middle;height:25px;" src="/static/image/liferoad.png">:违占应急车道</span>
    </div>
    <div class="row">
      <div class="well" style="margin-top:5px;height:600px;">
        <div id="i-map" style="width: 100%; height:100%"></div>
      </div>
    </div>
    
  </div>
{% end%}
{% block script %}
<script type="text/javascript">

     Date.prototype.format = function(format) {  
    /* 
     * eg:format="yyyy-MM-dd hh:mm:ss"; 
     */  
       var o = {  
          "M+" : this.getMonth() + 1, // month  
          "d+" : this.getDate(), // day  
          "h+" : this.getHours(), // hour  
          "m+" : this.getMinutes(), // minute  
          "s+" : this.getSeconds(), // second  
          "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter  
          "S" : this.getMilliseconds()  
          // millisecond  
       }  
    
      if (/(y+)/.test(format)) {  
          format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4  
                          - RegExp.$1.length));  
      }  
    
      for (var k in o) {  
          if (new RegExp("(" + k + ")").test(format)) {  
              format = format.replace(RegExp.$1, RegExp.$1.length == 1  
                              ? o[k]  
                              : ("00" + o[k]).substr(("" + o[k]).length));  
          }  
      }  
        return format;  
    }

    

    var map = new BMap.Map("i-map");      //设置卫星图为底图
    var point = new BMap.Point(120.645, 31.144);
    map.centerAndZoom(point,15);//设定地图的中心点和坐标并将地图显示在地图容器中
    map.addControl(new BMap.NavigationControl());      //为地图添加鱼骨
    map.enableScrollWheelZoom();//启用地图滚轮放大缩

    function _location(id, name, lng, lat, events){
        this.id = id
        this.lng = lng
        this.lat = lat
        this.events = events  
        this.name = name
    } 

    function _event(factor, dt, type, point, icon, marker){
        this.factor = factor
        this.dt = dt
        this.type = type
        this.bmap_point = point
        this.bmap_icon = icon
        this.bmap_marker = marker
    }

    function createEvent(_type, lng, lat, name){
        var dx = 10
        var icon = ''
        var eventName = ''
        if(_type==1) {
            icon='/static/image/jam.png'       
        }
        else if(_type==2) {
            icon='/static/image/park.png'            
            
        }else if(_type==3) {
            icon='/static/image/accident.png'            
            
        }
        else if(_type==4) {
            icon='/static/image/passerby.png'            
            
        } 
        else if(_type==5) {
            icon='/static/image/abandom.png'          
        }
        else if(_type==6) {
            icon='/static/image/abnormal.png'          
        }
        else if(_type==7) {
            icon='/static/image/liferoad.png'          
        }
        
        var point = new BMap.Point(parseFloat(lng),parseFloat(lat));
        var myIcon = new BMap.Icon(icon, new BMap.Size(30, 37), {anchor: new BMap.Size(0-dx*(_type-3), 10)});
        var marker = new BMap.Marker(point,{icon:myIcon});  // 创建标注   
        map.addOverlay(marker);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE);        
        marker.hide() 
        return new _event(0, 0, _type, point, icon, marker)
    }  

    location_list = {}
    {%for l in locations%}
       var ev_list = {}      
       ev_list['jam'] = createEvent(1, {{l.lng}}, {{l.lat}}, '{{l.name}}');
       ev_list['park'] = createEvent(2, {{l.lng}}, {{l.lat}}, '{{l.name}}');
       ev_list['accident'] = createEvent(3, {{l.lng}}, {{l.lat}}, '{{l.name}}');       
       ev_list['passerby'] = createEvent(4, {{l.lng}}, {{l.lat}}, '{{l.name}}');
       ev_list['abandom'] = createEvent(5, {{l.lng}}, {{l.lat}}, '{{l.name}}');
       ev_list['abnormal'] = createEvent(6, {{l.lng}}, {{l.lat}}, '{{l.name}}');
       ev_list['liferoad'] = createEvent(7, {{l.lng}}, {{l.lat}}, '{{l.name}}');
       location_list['{{l.id}}']=new _location('{{l.id}}', '{{l.name}}', {{l.lng}}, {{l.lat}}, ev_list) 
    {%end%}

    {%for e in events%}
        {% if e.type == 1%}
            location_list[{{e.location_id}}].events['jam'].bmap_marker.show()
        {%end%}
        {% if e.type == 2%}
            location_list[{{e.location_id}}].events['park'].bmap_marker.show()
        {%end%}
        {% if e.type == 3%}
            location_list[{{e.location_id}}].events['accident'].bmap_marker.show()
        {%end%}
        {% if e.type == 4%}
            location_list[{{e.location_id}}].events['passerby'].bmap_marker.show()
        {%end%}
        {% if e.type == 5%}
            location_list[{{e.location_id}}].events['abandom'].bmap_marker.show()
        {%end%}
        {% if e.type == 6%}
            location_list[{{e.location_id}}].events['abnormal'].bmap_marker.show()
        {%end%}
        {% if e.type == 7%}
            location_list[{{e.location_id}}].events['liferoad'].bmap_marker.show()
        {%end%}
    {%end%}

    

    console.log(location_list)
</script>


<script>

    /*
    $(document).ready(function(){
        $.ajax({
            url: '/eventsonmap',
            type: 'POST',
            success:function(rt){
                  
            },
            error:function(){
            }
       })
    })
    */  

    var ws = new WebSocket('ws://127.0.0.1:8888/ws');
    var $message = $('#message');
    
    function creatInfoWindow(name, eventName, marker, _type, dt, snapshot){
        var dx = 10
        var _now = new Date().getMilliseconds()
        var sContent =
            "<h4>位置: "+name+"</h4>" +              
            "<p>事件: "+eventName+"</p>" + 
            "<p>时间: "+dt+"</p>" + 
            "<hr>" +
            "<p>事件截图:</p><img  id='eventImg' src='data:image/png;base64,"+ snapshot +"'"+ 
            " height='204' title='Events'/>";
        var infoWindow = new BMap.InfoWindow(sContent, {offset: new BMap.Size(dx*(_type-3)+15, -15)}); 
        marker.addEventListener("click", function(){          
            this.openInfoWindow(infoWindow);
            //图片加载完毕重绘infowindow
            document.getElementById('eventImg').onload = function (){
               infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
            }
        });
    }

    ws.onopen = function(){
      $message.attr("class", 'label label-success');
      $message.text('open');
    };
    ws.onmessage = function(ev){
       var json = JSON.parse(ev.data)
       var name = location_list[json.location_id].name       
       var snapshot = json.snapshot
       console.log(snapshot)
       var dt = json.dt

       if(json.type==1){
          //jam
          var marker =  location_list[json.location_id].events['jam'].bmap_marker 
           if(json.factor>80) {          
               marker.show()
           }  else {
               marker.hide() 
           }      

       }
       if(json.type==2){        
           //abnormal
           var marker =  location_list[json.location_id].events['park'].bmap_marker 
           if(json.factor>0) { 
               marker.show()
           }  else {
               marker.hide() 
           } 
                    
       }
       if(json.type==3){        
           //abandom
           var marker =  location_list[json.location_id].events['accident'].bmap_marker 
           if(json.factor>0) {               
               marker.show()
           }  else {
               marker.hide() 
           }                       
       }
       if(json.type==4){        
           // accident
           var marker =  location_list[json.location_id].events['passerby'].bmap_marker
           if(json.factor>0) {            
              marker.show()
           }  else {
               marker.hide() 
           }                     
       }
       if(json.type==5){        
           //  passerby
           var marker =  location_list[json.location_id].events['abandom'].bmap_marker 
           if(json.factor>0) {              
              marker.show()
           }  else {
               marker.hide() 
           }     
       }
       if(json.type==6){        
           // accident
           var marker =  location_list[json.location_id].events['abnormal'].bmap_marker
           if(json.factor>0) {            
              marker.show()
           }  else {
               marker.hide() 
           }                     
       }
       if(json.type==7){        
           //  passerby
           var marker =  location_list[json.location_id].events['liferoad'].bmap_marker 
           if(json.factor>0) {              
              marker.show()
           }  else {
               marker.hide() 
           }     
       }
    };
    ws.onclose = function(ev){
      $message.attr("class", 'label label-important');
      $message.text('closed');
    };
    ws.onerror = function(ev){
      $message.attr("class", 'label label-warning');
      $message.text('error occurred');
    };
  </script>

{% end %}