{% extends 'layout.html' %}
{%block active%}
<script>
$("#visualization").attr('class','active');
</script>
{%end%}
{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
      <h4 class="sub-header"><strong>感知事件可视化</strong></h4>
      <div class="" role="alert"><span class="small"><img style="vertical-align:middle;" src='data:image/png;base64,'>查看详细信息</span> <span class="small"><img style="vertical-align:middle;" src="/static/image/expired.png">异常事件发生</span></div>



    <div class="row">
      <div class="well" style="margin-top:5px;height:600px;">
        <div id="i-map" style="width: 100%; height:100%"></div>
      </div>
    </div>
    
  </div>
{% end%}
{% block map %}
<script type="text/javascript">

     Date.prototype.format = function(format) {  
    /* 
     * eg:format="yyyy-MM-dd hh:mm:ss"; 
     */  
     var o = {  
        "M+" : this.getMonth() + 1, // month  
        "d+" : this.getDate(), // day  
        "h+" : this.getHours(), // hour  
        "m+" : this.getMinutes(), // minute  
        "s+" : this.getSeconds(), // second  
        "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter  
        "S" : this.getMilliseconds()  
        // millisecond  
     }  
  
    if (/(y+)/.test(format)) {  
        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4  
                        - RegExp.$1.length));  
    }  
  
    for (var k in o) {  
        if (new RegExp("(" + k + ")").test(format)) {  
            format = format.replace(RegExp.$1, RegExp.$1.length == 1  
                            ? o[k]  
                            : ("00" + o[k]).substr(("" + o[k]).length));  
        }  
    }  
    return format;  
}

    

    var map = new BMap.Map("i-map");      //设置卫星图为底图
    var point = new BMap.Point(120.645, 31.144);
    map.centerAndZoom(point,15);//设定地图的中心点和坐标并将地图显示在地图容器中
    map.addControl(new BMap.NavigationControl());      //为地图添加鱼骨
    map.enableScrollWheelZoom();//启用地图滚轮放大缩

    function _location(id, name, lng, lat, events){
        this.id = id
        this.lng = lng
        this.lat = lat
        this.events = events  
        this.name = name
    } 

    function _event(factor, dt, type, point, icon, marker){
        this.factor = factor
        this.dt = dt
        this.type = type
        this.bmap_point = point
        this.bmap_icon = icon
        this.bmap_marker = marker
    }

    

    function createEvent(_type, lng, lat, name){

        
        var dx = 20
        var icon = ''
        var eventName = ''
        if(_type==1) {
            icon='/static/image/jam.png'            
            eventName = '拥堵指数'
        }
        else if(_type==2) {
            icon='/static/image/count.png'            
            eventName = '拥堵指数'

        }else if(_type==3) {
            icon='/static/image/park.png'            
            eventName = '异常占道'
        }
        else if(_type==4) {
            icon='/static/image/accident.png'            
            eventName = '交通事故 '
        } 
        else if(_type==5) {
            icon='/static/image/passerby.png'            
            eventName = '行人穿马路 '
        }
        
        var point = new BMap.Point(parseFloat(lng),parseFloat(lat));
        var myIcon = new BMap.Icon(icon, new BMap.Size(30, 37), {anchor: new BMap.Size(0-dx*(_type-3), 10)});
        var marker = new BMap.Marker(point,{icon:myIcon});  // 创建标注   
        map.addOverlay(marker);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE);
        
        marker.hide() 
        return new _event(0, 0, _type, point, icon, marker)
    }

   

    location_list = {}
    {%for l in locations%}
       var ev_list = {}      
       ev_list['jam'] = createEvent(1, {{l.lng}}, {{l.lat}}, '{{l.name}}');
       ev_list['count'] = createEvent(2, {{l.lng}}, {{l.lat}}, '{{l.name}}');
       ev_list['abandom'] = createEvent(3, {{l.lng}}, {{l.lat}}, '{{l.name}}');       
       ev_list['accident'] = createEvent(4, {{l.lng}}, {{l.lat}}, '{{l.name}}');
       ev_list['passerby'] = createEvent(5, {{l.lng}}, {{l.lat}}, '{{l.name}}');
       location_list['{{l.id}}']=new _location('{{l.id}}', '{{l.name}}', {{l.lng}}, {{l.lat}}, ev_list) 
    {%end%}
    console.log(location_list)

    if(!isSupportCanvas()){
      alert('热力图目前只支持有canvas支持的浏览器,您所使用的浏览器不能使用热力图功能~')
    }
  //详细的参数,可以查看heatmap.js的文档 https://github.com/pa7/heatmap.js/blob/master/README.md
  //参数说明如下:
  /* visible 热力图是否显示,默认为true
     * opacity 热力的透明度,1-100
     * radius 势力图的每个点的半径大小   
     * gradient  {JSON} 热力图的渐变区间 . gradient如下所示
     *  {
      .2:'rgb(0, 255, 255)',
      .5:'rgb(0, 110, 255)',
      .8:'rgb(100, 0, 255)'
    }
    其中 key 表示插值的位置, 0~1. 
        value 为颜色值. 
     */
  heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":30});
  map.addOverlay(heatmapOverlay);
  //heatmapOverlay.setDataSet({data:points,max:100});
  //是否显示热力图
  function openHeatmap(){ 
        heatmapOverlay.setDataSet({data:points,max:100});
        heatmapOverlay.show();
  }
  function closeHeatmap(){
        heatmapOverlay.hide();
  }
  closeHeatmap();
  function setGradient(){
      /*格式如下所示:
    {
        0:'rgb(102, 255, 0)',
      .5:'rgb(255, 170, 0)',
        1:'rgb(255, 0, 0)'
    }*/
      var gradient = {};
      var colors = document.querySelectorAll("input[type='color']");
      colors = [].slice.call(colors,0);
      colors.forEach(function(ele){
      gradient[ele.getAttribute("data-key")] = ele.value; 
      });
        heatmapOverlay.setOptions({"gradient":gradient});
    }
  //判断浏览区是否支持canvas
    function isSupportCanvas(){
        var elem = document.createElement('canvas');
        return !!(elem.getContext && elem.getContext('2d'));
    }

  
</script>


<script>
    var ws = new WebSocket('ws://127.0.0.1:8888/ws');
    var $message = $('#message');
    
    function creatInfoWindow(name, eventName, marker, _type, dt, snapshot){
        var dx = 20
        var _now = new Date().getMilliseconds()
        var sContent =
            "<h4>位置: "+name+"</h4>" +              
            "<p>事件: "+eventName+"</p>" + 
            "<p>时间: "+dt+"</p>" + 
            "<hr>" +
            "<p>截图:</p><img  id='eventImg' src='data:image/png;base64,"+ snapshot +"'"+ 
            " height='204' title='Events'/>";
        var infoWindow = new BMap.InfoWindow(sContent, {offset: new BMap.Size(dx*(_type-3)+15, -15)}); 
        marker.addEventListener("click", function(){          
            this.openInfoWindow(infoWindow);
            //图片加载完毕重绘infowindow
            document.getElementById('eventImg').onload = function (){
               infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
            }
        });
    }

    ws.onopen = function(){
      $message.attr("class", 'label label-success');
      $message.text('open');
    };
    ws.onmessage = function(ev){
       var json = JSON.parse(ev.data);
       console.log(json.type)
       console.log(json)
       console.log(location_list[json.location_id])
       var name = location_list[json.location_id].name       
       var snapshot = json.snapshot
       console.log(snapshot)
       var dt = json.dt

       if(json.type==1){
           //jam
           /*
           closeHeatmap()
           if($.inArray(json.id, location_jam)<0){
               location_jam.push(json.id)
               points.push({"lng":json.lng, "lat":json.lat, "count":json.factor})
               console.log(json.dt)
           }
          openHeatmap()
          */
          

       }
       if(json.type==2){        
           //count
                    
       }
       if(json.type==3){        
           //abandom
           var marker =  location_list[json.location_id].events['abandom'].bmap_marker 
           if(json.factor>0) {               
               var eventName = '异常占道'            
               creatInfoWindow(name, eventName, marker, json.type, dt, snapshot)
               marker.show()
           }  else {
               marker.hide() 
           }

                        
       }
       if(json.type==4){        
           // accident
           var marker =  location_list[json.location_id].events['accident'].bmap_marker
           if(json.factor>0) {            
               var eventName = '交通事故'              
               creatInfoWindow(name, eventName, marker, json.type, dt, snapshot)
               marker.show()
           }  else {
               marker.hide() 
           }  
                   
       }
       if(json.type==5){        
           //  passerby
           var marker =  location_list[json.location_id].events['passerby'].bmap_marker 
           if(json.factor>0) {              
               var eventName = '行人横穿马路'             
               creatInfoWindow(name, eventName, marker, json.type, dt, snapshot)
               marker.show()
           }  else {
               marker.hide() 
           }     
       }
    };
    ws.onclose = function(ev){
      $message.attr("class", 'label label-important');
      $message.text('closed');
    };
    ws.onerror = function(ev){
      $message.attr("class", 'label label-warning');
      $message.text('error occurred');
    };
  </script>

{% end %}